* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .container {
    display: flex;
  }
  main {
    width: 100%;
    padding: 20px;
  }
  .sidebar {
    background: #00a4aa;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
  }
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .logo {
    font-size: 25px;
  }
  .bars {
    display: flex;
    font-size: 25px;
    float: left;
  }
  .link {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .link-hover {
    background: rgb(255, 255, 255);
    color: #00a4aa;
    transition: all 0.5s;
  }
  .active {
    background: rgb(255, 255, 255);
    color: #00a4aa;
  }
  .icon, .link_text {
    font-size: 20px;
  }